<!-- Timeline Section -->
<section id="timeline" class="content-section text-center">
  <div class="timeline-section">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Timeline</h2>
        <h3 class="section-subheading text-muted">
          3 and 4 September (0900-1800)
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/timeline/1.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Day 1</h4>
                <h4 class="subheading">0900-1000</h4>
              </div>
              <div class="timeline-body">
                  <p class="text-muted">
                    Report to UTOWN Auditorium 
                    <br>for Registration
                  </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/timeline/2.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Day 1</h4>
                <h4 class="subheading">0930-1200</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  Competition briefing and workshops by SLA, SAS and AON
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/timeline/3.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Day 1</h4>
                <h4 class="subheading">1200-1300</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  Lunch!
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
                <img class="img-circle img-responsive" src="img/timeline/4.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Day 1</h4>
                <h4 class="subheading">1300-1800</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  Release of competition challenge 
                  <br>and competition begins!
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/timeline/1.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Day 2</h4>
                <h4 class="subheading">0900-1200</h4>
              </div>
              <div class="timeline-body">
                  <p class="text-muted">
                    Report to UTOWN MPSH
                    <br>and continue with project
                  </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/timeline/2.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Day 2</h4>
                <h4 class="subheading">1200-1300</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  Lunch!
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/timeline/3.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Day 2</h4>
                <h4 class="subheading">1300-1500</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  Wrap up project 
                  <br>and judging begins
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
                <img class="img-circle img-responsive" src="img/timeline/4.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Day 2</h4>
                <h4 class="subheading">1600-1800</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  Prize presentation, closing ceremony 
                  <br>and swag giveaway in 
                  <br>UTOWN Auditorium
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image text-center">
              <h4>We're done!
                <br>Come back
                <br>next Year!
              </h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>